.header {
	background: url('image/background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    background-attachment: fixed;
    padding-top: 5px;
}

.hbody{
	padding: 210px 0 335px 0;
}
.hbody h1,p{
    padding-bottom: 10px;
	color: white;
	font-weight: bold;
}
.hbody hr{
	width: 220px;
}
.hbody p{
	font-size: 14px;
	letter-spacing: 1px;
}
.hbody h1{
	font-size: 40px;
	letter-spacing: 1px;
}
.header_button1{
	border: 4px solid #00c6d7;
    color: white;
    background-color: #00c6d7;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 15px 40px;
    margin-top: 10px;
    margin-right: 15px;
    transition-duration: 1.5s;
}
.header_button1:hover{
	border: 4px solid white;
    color: #333;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 15px 40px;
    margin-top: 10px;
    margin-right: 15px;

}

.header_button2{
	border: 4px solid white;
    color: white;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 15px 40px;
    margin-top: 10px;
    margin-right: 15px;
    transition-duration: 1.5s;
}
.header_button2:hover{
	border: 4px solid #00c6d7;
    color: #333;
    background-color: #00c6d7;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 15px 40px;
    margin-top: 10px;
    margin-right: 15px;
}
.navbar {
    overflow: hidden;
    background-color: #3B3B3B;
    padding-right: 30px;
}
.navbar a.logo_text {
    color: #00c6d7;
    float: left;
    margin-left: 20px;
    font-size: 22px;
}
.custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 198, 215, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.custom .navbar-toggler {
    border-color: rgb(109, 109, 109);
}  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 15px 0px;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    margin-left: 20px;
    z-index: 1;
}
 
.navbar a:hover {
    color: #00c6d7;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 1.2s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.about{
	background-color: #3B3B3B;
	padding-top: 30px;
	padding-bottom: 100px;
}
.about_title h1 {
	color:white;
	font-weight: bold;
	font-size: 40px;
	padding-bottom: 10px;
}
.text h4{
    color: #00c6d7;
}
.text p{
    color: white;
    text-align: justify;
}