body {
    background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    font-weight: 400;
    letter-spacing: 1px;
}

h1,h2,h3, .btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #333;
}
.white{
    background: #fafafa;
    color: #333;
}
.white h1,.white h2,.white h3,.white h4,.white p{
    color: #333;
}
.white hr{
    background-color: #333;
}
.black{
    background: #333;
    color: #fff;
}
.black h1,.black h2,.black h3,.black h4,.black p{
    color: #fff;
}
.black hr{
    background-color: #fff;
}
.header {
	background: url('image/background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    background-attachment: fixed;
    padding-top: 5px;
}

.hbody{
	padding: 210px 0 335px 0;
}
.hbody h1, .hbody p{
    padding-bottom: 10px;
	color: #fff;
}
.hbody hr{
	width: 400px;
    background-color: #fff;
}
.hbody p{
	font-size: 18px;
	letter-spacing: 1px;
}
.hbody h1{
	font-size: 50px;
	letter-spacing: 1px;
}
.btn {
	position: relative;
	letter-spacing: 1.5px;
	border: none;
}
.btn-default, .btn-default:focus, .btn-default.focus {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.btn-blank {
	border: 4px solid #fff;
    color: #fff;
    background-color: transparent;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 15px 40px;
    margin-top: 10px;
    margin-right: 15px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.btn-blank:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.btn-blank:hover, .btn-blank:focus {
	color: #333;
}
.btn-blank:hover:before, .btn-blank:focus:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.navbar {
    overflow: hidden;
    background-color: #505050;
    padding-right: 30px;
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.6);
}
.navbar-collapse{
    padding-right: 50px;
}
.navbar a.logo_text {
    color: #00c6d7;
    font-weight: bold;
    margin-left: 20px;
    padding-left:50px;
    font-size: 27px;
    line-height: 40px;
    margin-top: 5px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.navbar a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    z-index: 1;
    margin-top: 5px;
    color: #fff;
    font-weight: 300;
    line-height: 50px;
    margin-left: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
 
.navbar a:hover {
    color: #00c6d7;
    text-decoration: none;
    transition-duration: 1.2s;
}
.custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 198, 215, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.custom .navbar-toggler {
    border-color: rgb(109, 109, 109);
}

.about{
	padding-top: 30px;
	padding-bottom: 100px;
}
.title h1 {
	font-size: 40px;
	padding: 50px 0;
}
.about h4{
    font-weight: bold;
}
.text p{
    text-align: justify;
    letter-spacing:1.3px;
    font-size: 17px;
}

.about .bio p{
    color: #333;
}
.bio {
    padding: 20px;
    color: #333;
  }
  
.bio .col {
    border: 2px solid #00c6d7;
    background-color: #fafafa;
}
.bio .col1 {
    border-top-left-radius: 20px;
}
.bio .col2 {
    border-top-right-radius: 20px;
}
.bio .col3 {
    border-bottom-left-radius: 20px;
}
.bio .col4 {
    border-bottom-right-radius: 20px;
}
.bio .col:not(:last-child) {
    border-right-width: 0;
}
  
.bio .row:not(:last-child) .col {
    border-bottom-width: 0;
}
/* footer */
.footer{
    padding: 50px 0;
}
.footer .container{
    text-align: center;
}

/* social */
.btn{
    margin: 0 5px;
}
.btn.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0;
}

.btn.btn-rounded {
    border-radius: 50px
}


.btn-social-icon {
    background: #fff;
    color: #333
}

.btn-social-icon:hover,
.btn-social-icon:focus {
    background: rgb(58, 58, 58);
    color: #fff
}

/* copyright section  */
.copyright p {
    padding: 20px;
    margin: 0;
  }
  
.gototop {
    background-color: #333;
    color: #ffffff;
    font-size: 40px;
    padding: 20px 32px;
    text-align: right;
    transition: all 0.4s ease-in-out;
}
.gototop:hover {
    text-decoration: none;
    background-color: #fff;
    color: #333;
}




